* {
    font-family: 'Catamaran', sans-serif;
}

.containerr {
    width: 400px;
    margin: auto;
}

.containerr img {
    width: 400px;
}

.first {
    background-color: #3b4249;
    height: 150px;
}

.first h3 {
    display: inline;
    color: #fff;
    padding: 0px 20px 0px 50px;
    font-size: 40px;
    line-height: 150px;
}

.second {
    background-color: #000;
    height: 60px;
    margin-bottom: 0px;
}

.second p {
    color: #fff;
    line-height: 60px;
    padding-left: 20px;
    font-size: 18px;
}

.fab {
    color: #fff;
    padding-left: 20px;
}

.esimene{
    width: 100px;
    background-color: #0586ff;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 0px 30px 0px;
}

.teine{
    width: 100px;
    background-color: #2db04f;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 0px 30px 0px;
}

.kolmas {
    width: 100px;
    background-color: #ffc902;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 0px 30px 0px;
}

.neljas {
    width: 100px;
    background-color: #e03c4f;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 0px 30px 0px;
}

.navbar {
    margin: 0px;
}