.pealkiri {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.praed {
    margin: 40px auto 40px auto;
}


.praed2 {
    text-align: center;
}

.hinnad {
    float: right;
    color: #fff;
    background-color: #ff5176;
    border-radius: 20%;
    padding: 2px;
    text-align: center;
}

span.hinnad2 {
    float: right;
    color: #fff;
    background-color: green;
    border-radius: 20%;
    padding: 2px;
    text-align: center;
}

.soodushind {
    float: left;
}


